<div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse" id="navbar">
  <ul class="nav navbar-nav">
    <li class="dropdown dropdown-fw  active open selected">
      <ul class="dropdown-menu dropdown-menu-fw">

        <li >
          <a href="dashboard.html">
            <i class="fa fa-line-chart"></i>							Dashboard					</a>
        </li>

        <li class="dropdown more-dropdown-sub">
          <a href="javascript:;">
            <i class="fa fa-hotel"></i> Hotel						</a>
          <ul class="dropdown-menu">
            <li >
              <a href="table_static_basic.html">
                Check-In & Check-Out							</a>
            </li>
            <li >
              <a href="table_static_responsive.html">
                Booking							</a>
            </li>
            <li >
              <a href="table_static_basic.html">
                Room							</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="dashboard_2.html">
            <i class="fa fa-users"></i>							Customers						</a>
        </li>

        <li class="dropdown more-dropdown-sub">
          <a href="javascript:;">
            Static Tables						</a>
          <ul class="dropdown-menu">
            <li >
              <a href="table_static_basic.html">
                Basic Tables							</a>
            </li>
            <li >
              <a href="table_static_responsive.html">
                Responsive Tables							</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>