<div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse" id="navbar">
  <ul class="nav navbar-nav">
    <li class="dropdown dropdown-fw  active open selected">
      <ul class="dropdown-menu dropdown-menu-fw">
        <li >
          <a href="index.html">
            <i class="icon-bar-chart"></i>							Default						</a>
        </li>

        <li class="active">
          <a href="dashboard_2.html">
            <i class="icon-bulb"></i>							Dashboard 2						</a>
        </li>

        <li >
          <a href="dashboard_3.html">
            <i class="icon-graph"></i>							Dashboard 3						</a>
        </li>
        <li class="dropdown more-dropdown-sub">
          <a href="javascript:;">
            Static Tables						</a>
          <ul class="dropdown-menu">
            <li >
              <a href="table_static_basic.html">
                Basic Tables							</a>
            </li>
            <li >
              <a href="table_static_responsive.html">
                Responsive Tables							</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>